<?xml version="1.0" encoding="ISO-8859-1"?>

<customer>
    <residentalEv>
        <instances>{{ conditional_names|join(",") }}</instances>
        {%- for name in conditional_names %}
        <{{ name }}>
            <means>
                {%- for mean in means[name] %}
                <mean>{{ mean|join(",") }}</mean>
                {%- endfor %}
            </means>
            <covs>
                {%- for cov in covs[name] %}
                <cov>{{ cov|join(",") }}</cov>
                {%- endfor %}
            </covs>
            <weights>{{ weights[name]|join(",") }}</weights>
        </{{ name }}>
        {%- endfor %}
    </residentalEv>
</customer>
